name: HACS

on:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate HACS Default Repo
        uses: hacs/action@main
        with:
          category: plugin
