name: Lint
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  jq:
    name: JQ
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.1

      - name: Validate
        run: jq --raw-output . appdaemon blacklist critical integration netdaemon plugin python_script removed template theme

  jsonschema:
    name: JSON schema
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.1

      - name: Critical
        uses: cardinalby/schema-validator-action@3.1.1
        with:
          file: "critical"
          schema: "tools/jsonschema/critical.schema.json"

      - name: Repositories
        uses: cardinalby/schema-validator-action@3.1.1
        with:
          file: "appdaemon|blacklist|integration|netdaemon|plugin|python_script|template|theme"
          schema: "tools/jsonschema/repositories.schema.json"

      - name: Removed
        uses: cardinalby/schema-validator-action@3.1.1
        with:
          file: "removed"
          schema: "tools/jsonschema/removed.schema.json"

  sorted:
    name: Sorted
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.1

      - name: Set up Python
        uses: actions/setup-python@v5.2.0
        with:
          python-version-file: ".python-version"

      - name: Check lists
        run: python3 scripts/is_sorted.py
