name: "Validate repository with HACS"
on:
    pull_request:
        branches:
            - master

jobs:
    validate:
        runs-on: ubuntu-latest
        name: Validate
        steps:
            - name: Check out repository
              uses: actions/checkout@v2

            - name: Get file changes
              id: get_file_changes
              uses: dorner/file-changes-action@v1.2.0
              with:
                githubToken: ${{ secrets.GITHUB_TOKEN }}
                plaintext: true

            - name: export file changes
              run: export CHANGED_FILES="${{ steps.get_file_changes.outputs.files }}"

            - name: HACS validation
              uses: "hacs/integration/action@master"
              with:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              env:
                CHANGED_FILES: "${{ steps.get_file_changes.outputs.files }}"